# Docker
Dockerfile
.dockerignore

# Compiled output
/dist
node_modules
error-graph.json
schema.gql

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
**/.DS_Store

# Tests
/coverage
/.nyc_output
/test
**/*.spec.ts
**/*.test.ts
**/*.spec.tsx
**/*.test.tsx

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Local settings
.env*.local
.env.test
.eslintrc.js
.prettierrc


# Git
.github
.gitignore
.git

# Other
README.md
